.col{
    box-sizing: border-box;
    margin: 0.7em;
    align-items: center;
    
}
.foto-artista-personal{
align-self: center;
padding:0.2em;
align-content: center;
text-align: center;
}

.nombre-artista-personal{
    text-align: center;
    font-size: 1.7rem;
}

.foto-producto-artista{
text-align: center;
max-width: 300px;
height: 325px;
padding: 2rem 3rem;
}
.foto-producto-artista p{
margin: 0; 
}

.img{
width: 100%;
height: 200px;
}
.img-fluid{
    margin: 1.5rem;
}