.display-3{
    font-family: Sedgwick Ave Display;
}
.paral {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    }

.paral p {
        font-size: 24px;
        color:#f5f5f5;
        text-align: center;
        line-height: 60px;
        max-height: 800px;
    }

.paral h1 {
        color: rgba(255, 255, 255, 0.8);
        font-size: 60px;
        text-align: center;
        padding-top: 60px;
        line-height: 100px;
    }

.paralsec {
            background-image: url("https://www.lapatilla.com/wp-content/uploads/2018/02/DJs.jpg");

    }
            
.paralsec1 {
            background-image: url("https://www.discjockeys.es/wp-content/uploads/2019/06/Top-30-Los-mejores-Dj-Holandeses-en-2019.jpg");
    }

.paralsec2 {
            background-image: url("https://musika.news/wp-content/uploads/2020/08/hd_0eD7I-1280x640.jpeg");
    }

.btn-primary {
    color: #fff;
    background-color: #000!important;
    border:0px;
    }

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .25rem;
    border-color: #000;
}
.btn-md{
    border-color: #000;
}

.btn {
    font-weight: 700;
    padding: .5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border-color: #000;
    -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
}

