.piedepag{
    background-color: black;
    color: white;
}
.mpie{
    margin-left: 20%;
}
.newslet{
    text-align: center;
}
.fuentenew{
    font-size: 50px;
    font-family: 'SedgwickAveDisplay'
}
.fondoperfil{
    background-color: #E8E7E7;
}
