.title-sidebar{
    font-family: 'SedgwickAveDisplay';
    font-size: 2rem;
}
.sidebar-list{
    list-style-type: none;
}
.sidebar-list-item-anchor{
    color: #4a4a4a;
    padding: 0.5rem 0;
    display: block;
}
.sidebar-list-item-anchor:hover{
    text-decoration: none;
    color: #151515;
    padding-left: 0.5rem;
}
.custom-hr{
    margin-bottom: 1.5rem;
    width: 80%;
    border : 0;
    height: 1rem; 
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 0, 0), rgb(255, 255, 255));
}